#content {
  text-align: center;
  padding-top: 25%;
}

body {
  font-family: 'Lato', monospace;
  background: url(octavio-fossatti-37556.jpg);
  background-size: cover;
  background-position: center;
  color: green;
}

html {
  height: 100%;
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
